<!doctype html>
<html lang="en">
  <head>
    <title>Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      

    <div class="container mt-md-5">


<!-- Avaiable Data -->

<table class="table mt-md-5 table-striped border text-center"  id="data-table">
    <thead>
        <tr class="bg-dark text-white">
            <th>Title</th>
            <th>Cords</th>
            <th>Shape</th>
            <th>Identity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>


<!-- Loop for Objects no of Time -->
<% if(Coordinates){ %>


  <% for(let index=0; index < Coordinates.length-1; index++){ %>
        <tr>
            <td><%- Coordinates[index].title %></td>
            <td><%- Coordinates[index].coords %></td>
            <td><%- Coordinates[index].shape %></td>
            <td><%- Coordinates[index]._id %></td>
            
            <td class=""><a href="localhost:4000//delete/<%-Coordinates._id %>" style="color: red;"><i class="fa fa-trash"></i></a></td>

        </tr>

        <% } %>

        <% } %>



    </tbody>
</table>


<div class="row p-0 m-0">
  <!-- 
      <div class="col-md-3">
          <button class="btn btn-danger btn-lg btn-block">Delete</button>
      </div> -->
  
      <div class="col-md-3">
          <a href="/" type="submit" class="btn btn-success btn-lg btn-block">Add Data</a>
      </div>
  
  
      <div class="col-md-3">
          <a href="/data" class="btn btn-primary btn-lg btn-block mt-2 mt-md-0" id="table-toggle" href="#data-table">See Data</a>
      </div>
  
  
  </div>


</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>